

#hero {
    color:white;
    font-size: 30px;
    font-weight: 600;
}

.position {
    display: inline-block;
    float: left;
    width: 5%;
    text-align: center;
}
.tableTeam {
    display: inline-block;
    width: 40%;
    text-align: left;
    float:left;
    margin-left:5%;
}
.played {
    display: inline-block;
    width: 6%;
    margin-right:8%;
    float: right;
    text-align: center;
}
.goaldifference {
    display: inline-block;
    float: right;
    width: 5%;
    margin-right:8%;
    text-align: center;
}

.points {
    display: inline-block;
    float: right;
    width: 6%;
}

.mini-table-row{
    height: 40px;
    padding: 0 5%;
    width:100%;
    border-bottom: 1px solid #ddd;
}

.mini-table-row:hover{
    background-color: #eee;
    cursor: default;
}

.liverpool{
    color:#9C121D;
}



.crest {
    display: inline-block;
    float: left;
    width: 10%;
    text-align: center;
    margin-left: 4%;
}

.crest-inner{
    margin:auto;
    padding-top:4px;
}

.mini-table-column {
    height:40px;
    vertical-align: middle;
    line-height: 40px;
}
.post-body img{
    width:100%;
    margin: 20px 0;
}

.newsHover:hover{
    background-color: #eee;
    cursor:default;
}

.news-title{
    font-size: 16px;
    font-weight: 600;
}

.quote-author{
    padding-right: 20px;
    text-align: right;
    width: 100%;
    font-style: italic;
    color: #7c0006;
}

.pgwSliderMobile {
    display:none;
}

@media only screen and (max-width:400px){
    .pgwSliderMobile {
        display:block;
    }
    .pgwSlider {
        display:none;
    }
}